<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light"></nav>

<div class="container">
    <h2>Edit Post</h2>

    <form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{user}" class="field"/>
        <label for="title">Title: </label>
        <input type="text" th:field="*{title}" id="title" class="field" th:value="${post.title}"/>
        <br><br>
        <label for="body">Body:</label><br>
        <textarea th:field="*{body}" id="body" class="field" rows="4" cols="50" th:text="${post.body}"></textarea><br>
        <button>Save Changes</button>
    </form>
</div>

<div th:fragment="footer"></div>
</body>
</html>